{% if page.footer1 or page.footer2 or page.footer3 or page.footer4 or page.footer_bar_left or page.footer_bar_right %}
  <footer class=" footer1 site-footer section-footer" role="contentinfo">
    {% if page.footer1 or page.footer2 or page.footer3 or page.footer4 %}
      <div class="container">
        <div class="row">
          {% if page.footer1 %}
            {% if page.footer2 and page.footer3 and page.footer4 %}
              <div class="col-lg-3 col-md-3">
              {% elseif page.footer2 and page.footer3 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer2 and page.footer4 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer3 and page.footer4 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer2 or page.footer3 or page.footer4 %}
                <div class="col-lg-6 col-md-6">
              {% else  %}
                <div class="col-lg-12">
            {% endif %}
              <div class="top1 footer-site-info footer-widget">
                {{ page.footer1 }}
              </div>
            </div>
          {% endif %}

          {% if page.footer2 %}
            {% if page.footer1 and page.footer3 and page.footer4 %}
              <div class="col-lg-3 col-md-3">
              {% elseif page.footer1 and page.footer3 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer1 and page.footer4 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer3 and page.footer4 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer1 or page.footer3 or page.footer4 %}
                <div class="col-lg-6">
              {% else  %}
                <div class="col-lg-12">
            {% endif %}
              <div class="top2 footer-site-info footer-widget">
                {{ page.footer2 }}
              </div>
            </div>
          {% endif %}

          {% if page.footer3 %}
            {% if page.footer1 and page.footer2 and page.footer4 %}
              <div class="col-lg-3 col-md-3">
              {% elseif page.footer1 and page.footer2 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer1 and page.footer4 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer2 and page.footer4 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer1 or page.footer2 or page.footer4 %}
                <div class="col-lg-6">
              {% else  %}
                <div class="col-lg-12">
            {% endif %}
              <div class="top3 footer-site-info footer-widget">
                {{ page.footer3 }}
              </div>
            </div>
          {% endif %}

          {% if page.footer4 %}
            {% if page.footer1 and page.footer2 and page.footer3 %}
              <div class="col-lg-3 col-md-3">
              {% elseif page.footer1 and page.footer2 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer1 and page.footer3 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer2 and page.footer3 %}
                <div class="col-lg-4 col-md-4">
              {% elseif page.footer1 or page.footer2 or page.footer3 %}
                <div class="col-lg-6">
              {% else  %}
                <div class="col-lg-12">
            {% endif %}
              <div class="top4 footer-site-info footer-widget">
                {{ page.footer4 }}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    {% endif %}


    <div id="site-footer-bar" class="footer-bar">      
      <div class="{{ container }}">
        {% if page.footer_bar_left  or page.footer_bar_right %}
          <div class="row footer-bottom">
              
              {% if page.footer_bar_left %}
                {% if page.footer_bar_left and page.footer_bar_right %}
                  <div class="col-md-4">
                {% else %}
                  <div class="col-md-12">
                {% endif %}
                    <div class="copyright">
                      {{ page.footer_bar_left }}    
                    </div>
                </div>
              {% endif %}
                

              {% if page.footer_bar_right %}
                {% if page.footer_bar_left and page.footer_bar_right %}
                  <div class="col-md-4">
                {% else %}
                  <div class="col-md-12">
                {% endif %}
                    <div class="footer-bootom-nav">
                      {{ page.footer_bar_right }}
                    </div>
                  </div>
              {% endif %}


            <div class="col-md-4 text-right">
              {% if show_social_icon %}
                <p class="social-media">
                  {% if facebook_url %}
                    <a href="{{ facebook_url }}"  class="facebook" target="_blank"  title="{{ 'Facebook'|t }}" ><i class="fab fa-facebook-f"></i></a>
                  {% endif %}
                  {% if google_plus_url %}
                    <a href="{{ google_plus_url }}"  class="google-plus" target="_blank"  title="{{ 'Google plus'|t }}" ><i class="fab fa-google-plus-g"></i></a>
                  {% endif %}
                  {% if twitter_url %}
                    <a href="{{ twitter_url }}" class="twitter" target="_blank"  title="{{ 'Twitter'|t }}"><i class="fab fa-twitter"></i></a>
                  {% endif %}
                  {% if linkedin_url %}
                    <a href="{{ linkedin_url }}" class="linkedin" target="_blank"  title="{{ 'Linked In'|t }}"><i class="fab fa-linkedin-in"></i></a>
                  {% endif %}
                </p>                                
              {% endif %}  
            </div>

          </div>
        {% endif %}

      </div>
    </div>

  </footer>
{% endif %}