{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix', 'container') }}>
  {{ title_suffix.contextual_links }}
  <div class="row">
    <div class="col-md-12">
 	    {{ ds_content }}
    </div>
  </div>
</{{ ds_content_wrapper }}>
