{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="align-center">{{ ds_content.field_faculty_photo }}</div>
            <h2 class="text-center">{{ds_content.field_full_name}}</h2>
       				{% if ds_content.field_phone_no|render or ds_content.field_email|render %}
                <div class="contact-info text-center">
                  <p class="__ci_num inline"><span>{{ ds_content.field_phone_no }}</span></p>
                  <p class="__ci_num inline"> <span>{{ ds_content.field_email }}</span></p>
                </div>
              {% endif %}

              {% if ds_content.field_room_no|render or ds_content.field_building_new|render %}
                <div class="text-center mt-10">
                <h4 class="entry-title inline">Location: </h4>{{ ds_content.field_room_no.0 }}{% if ds_content.field_room_no|render and ds_content.field_building|render %}, {% endif %}{{ ds_content.field_building.0 }}
                </div>
              {% endif %}
          {% set related_mission_mode_proj_view = drupal_view_result('related_faculty_mission_mode_proj', 'block_1')|length %}
          {% set related_seed_proj_view = drupal_view_result('related_faculty_seed_projects', 'block_1')|length %}
          {% set related_fellowhip_proj_view = drupal_view_result('related_faculty_fellowship_projects', 'block_1')|length %}

          <h3 class="text-center mb-10">Research Projects with CoE-OGE center</h3>
          <div class="project-switcher">
            <ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-tabs="tabs">
				      {% if related_mission_mode_proj_view > 0 and related_seed_proj_view > 0 and related_fellowhip_proj_view > 0 %}
                <li class="active"><a href="#mission" data-toggle="tab">Mission Mode Projects</a></li>
                <li><a href="#seeds" data-toggle="tab">Seed projects</a></li>
                <li><a href="#fellowship-proj" data-toggle="tab">Fellowship Projects</a></li>
            
              {% elseif related_mission_mode_proj_view > 0 and related_seed_proj_view > 0 %}
                <li class="active"><a href="#mission" data-toggle="tab">Mission mode Projects</a></li>
                <li><a href="#seeds" data-toggle="tab">Seed Projects</a></li>
                <li class="disabled"><a href="#fellowship-proj">Fellowship Projects</a></li>

              {% elseif related_mission_mode_proj_view > 0 and related_fellowhip_proj_view > 0 %}
                <li class="active"><a href="#mission" data-toggle="tab">Mission mode Projects</a></li>
                <li class="disabled"><a href="#seeds">Seed Projects</a></li>
                <li><a href="#fellowship-proj" data-toggle="tab">Fellowship Projects</a></li>

              {% elseif related_seed_proj_view > 0 and related_fellowhip_proj_view > 0 %}
                <li class="disabled"><a href="#mission">Mission mode Projects</a></li>
                <li class="active"><a href="#seeds" data-toggle="tab">Seed Projects</a></li>
                <li><a href="#fellowship-proj" data-toggle="tab">Fellowship Projects</a></li>

              {% elseif related_mission_mode_proj_view > 0 %}
                <li class="active"><a href="#mission" data-toggle="tab">Mission mode Projects</a></li>
                <li class="disabled"><a href="#seeds">Seed Projects</a></li>
                <li class="disabled"><a href="#fellowship-proj">Fellowship Projects</a></li>

              {% elseif related_seed_proj_view > 0 %}
                <li class="disabled"><a href="#mission">Mission mode Projects</a></li>
                <li class="active"><a href="#seeds" data-toggle="tab">Seed Projects</a></li>
                <li class="disabled"><a href="#fellowship-proj">Fellowship Projects</a></li>

              {% elseif related_fellowhip_proj_view > 0 %}
                <li class="disabled"><a href="#mission">Mission mode Projects</a></li>
                <li class="disabled"><a href="#seeds">Seed Projects</a></li>
                <li class="active"><a href="#fellowship-proj" data-toggle="tab">Fellowship Projects</a></li>
              {% endif %} 

              <li><a href="#working-groups" data-toggle="tab">Working Groups</a></li>
            </ul>
            <div class="tab-content mt-30">
              {% if related_mission_mode_proj_view > 0 and related_seed_proj_view > 0 and related_fellowhip_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="mission"> 
                  {{ drupal_view('related_faculty_mission_mode_proj', 'block_1') }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="seeds">     
                  {{ drupal_view('related_faculty_seed_projects', 'block_1') }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="fellowship-proj">     
                  {{ drupal_view('related_faculty_fellowship_projects', 'block_1') }}
                </div>

              {% elseif related_mission_mode_proj_view > 0 and related_seed_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="mission"> 
                  {{ drupal_view('related_faculty_mission_mode_proj', 'block_1') }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="seeds">     
                  {{ drupal_view('related_faculty_seed_projects', 'block_1') }}
                </div>
              {% elseif related_mission_mode_proj_view > 0 and related_fellowhip_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="mission"> 
                  {{ drupal_view('related_faculty_mission_mode_proj', 'block_1') }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="fellowship-proj">     
                  {{ drupal_view('related_faculty_fellowship_projects', 'block_1') }}
                </div>

              {% elseif related_seed_proj_view > 0 and related_fellowhip_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="seeds">     
                  {{ drupal_view('related_faculty_seed_projects', 'block_1') }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="fellowship-proj">     
                  {{ drupal_view('related_faculty_fellowship_projects', 'block_1') }}
                </div>

              {% elseif related_mission_mode_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="mission"> 
                  {{ drupal_view('related_faculty_mission_mode_proj', 'block_1') }}
                </div>

              {% elseif related_seed_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="seeds">     
                  {{ drupal_view('related_faculty_seed_projects', 'block_1') }}
                </div>

              {% elseif related_fellowhip_proj_view > 0 %}
                <div role="tabpanel" class="tab-pane fade in active" id="fellowship-proj">
                  {{ drupal_view('related_faculty_fellowship_projects', 'block_1') }}
                </div>
              {% endif %}

                <div role="tabpanel" class="tab-pane fade in active" id="working-groups">
                </div>
            </div>
          </div>
          <div class="mt-20 btn btn-primary">
            <a href="{{ content.field_detailed_information_page.0['#url'] }}" target="_blank">Personal Webpage of the faculty</a>
          </div>
        </div>
      </div>
    </div>

</{{ ds_content_wrapper }}>
